@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.lavender {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  background-color: hsl(240, 67%, 94%);
  border: solid 3px black;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px 0px hsl(240, 100%, 85%);
}

.mint {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  background-color: hsl(120, 93%, 79%);
  border: solid 3px black;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px 0px hsl(120, 86%, 73%);
}

.lemon {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  background-color: hsl(60, 95%, 59%);
  border: solid 3px black;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px 0px hsl(60, 95%, 59%);
}
